.about {
    color:#EEE;
    line-height: 1.7;
}

.about .about-header {
    background-color: #17A2B8;
    width: 100%;
    height: 180px;
}

.about .about-header h3 {
    padding: 5%;
    width: 50%;
    font-size: 30px;
    margin: 0;
}

.about .message {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.about .message .card {
    text-align: center;
    width: 35%;
    padding: 2%;
    margin-top: 7%;
}

.about .message .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.about .message .card h4 {
    font-size: 21px;
    color: #563D7C;
}

.about .message span {
    color: #FFF;
    font-weight: 600;
}

.about .message .blog-card {
    background-color: #EEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

.about .message .blog-card h2 {
    text-align: center;
    color: #563D7C;
    margin: 5% 0;
    width: 100%;
}

.about .message .blog-card p {
    color: #563D7C;
}

.about .message .blog-card .blogButton {
    background-color: #563D7C;
    color: #EEE;
    border: 1px solid #EEE;
    padding: 10px 50px;
    margin-top: 2%;
    border-radius: 5px;
    outline: none;
    transition: .5s;
}

.about .message .blog-card .blogButton:hover {
    background-color: #EEE;
    color: #563D7C;
    border: 1px solid #563D7C;
}

/* light mode */

.about.light {
    color: #000;
}

.about.light .message span {
    color: #563D7C;
}

.about.light .message .blog-card {
    background-color: transparent;
    box-shadow: 2px 2px 5px #563D7C;
}

@media (max-width: 767px){  /* phone screen */

    .about .about-header h3 {
        width: 90%;
    }
    
    .about .message {
        flex-direction: column;
        align-items: center;
    }

    .about .message .card {
        width: 80%;
    }

    .about .message .blog-card {
        height: 60vh;
        padding: 8%;
    }
}