.welcome-card {
    border: 2px solid white;
    border-radius : 50px;
    width:90%;
    min-height: 280px;
    margin: 40px auto ;
    display: flex;
    justify-content: space-between;
}

.button {
    margin: 30px;
    background-color: #061724;
    color: #17A2B8;
    padding: 10px 15px;
    border-radius: 25px;
    transition: .7s;
    border: 1px solid #17A2B8;
}

.button:hover {
    transform: translateY(-10px);
}

.welcome-card h2 {
    color: #EEE;
    margin: 8% 4% 0;
}

.welcome-card h4 {
    color: #FFF;
    margin: 1% 5%;
}

.welcome-card img {
    width: 41%;
}

/* light mode */
.welcome-card.light {
    border: 2px solid #061724;
}

.welcome-card.light h2,
.welcome-card.light h4 {
    color: #061724;
}

@media (max-width: 991px) {  /* phone screen */

    .welcome-card img {
        position: relative;
        right: 0;
        bottom: -210px;
        height: 25%;
        width: 25%;
    }
}

@media (min-width: 768px) and (max-width: 991px) { /* small screen */

    .welcome-card img {
        position: relative;
        right: 0;
        bottom: -160px;
        height: 30%;
        width: 30%;
    }
}