.book-info {
    padding: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book-info .book-img {
    width: 215px;
    height: 285px;
}

.book-info .book-img img {
    max-width: 100%;
    height: 100%;
}

.book-info .information {
    color: #FFF;
    width: 80%;
}

.book-info .information > h1 {
    text-transform: uppercase;
    font-size: 24px;
}

.book-info .information > span {
    font-size: 16px;
    margin-right: 5px;
}

.book-info .information .link {
    margin-left: 7px;
    text-decoration: none;
    color: #17A2B8;
}

.book-info .information .link:hover {
    color: #17a3b8a2;
    text-decoration: underline;
}

.book-info .information .rating {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

.book-info .information .rating .reviews-number {
    margin-left: 2px;
    color: #57617a;
}

.book-info .information div .side-info {
    margin-left: 15px;
    font-weight: 400;
}

.book-info .information p {
    color: #EEE;
    line-height: 1.7;
    margin: 0;
    text-indent: 20px;
}

.container hr {
    width: 90%;
    margin: 18px 0;
    border: none;
    border-top: 1px solid #57617a;
}

.sugesstion-title {
    display: block;
    color: #FFF;
    padding: 10px 0;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* light mode */ 

.container.light .information,
.container.light p,
.container.light .sugesstion-title {
    color: #000;
}

.container.light .information div .side-info{
    color: #1c263d;
}

@media (max-width: 767px){  /* phone screen */

    .book-info .information {
        color: #FFF;
        width: 70%;
    }

    .book-info .information .rating {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 5px 0;
    }

    .book-info .information div .side-info {
        margin: 0;
    }

    .book-info .book-img {
        width: 130px;
        height: 180px;
    }

    .book-info .information h4,
    .book-info .information p {
        margin-left: -30%;
    }
}

@media (max-width: 991px){ /* small screen */

    .book-info .information{
        margin-left: 10px;
    }

}