.create-comment {
    margin: 2% 0 5%;
}

.create-comment .review-button {
    outline: none;
    color: #FFF;
    padding: 15px 2.5%;
    border: none;
    background-color: #005A98;
    border-radius: 5px;
    display: table;
    margin: 0 auto;
    transition: .5s;
}

.create-comment .review-button::after {
    content: "⯆";
    display: block;
    position: absolute;
    left: calc(50% - 1px);
    opacity: 0;
    transition: 0.5s;
    margin-top: 12px;
}

.create-comment .review-button:hover {
    background-color: #003c64;
    padding-top: 10px;
    padding-bottom: 20px;
}

.create-comment .review-button:hover:after {
    opacity: 1;
    margin-top: -7px;
}

.create-comment .alert {
    margin-top: 4%;
    padding: 1%;
}

.create-comment > h2 {
    color: #FFF;
    margin: 1% 0 2%;
}

.create-comment form {
    position: relative;
}

.create-comment form .rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.create-comment form input {
    outline: none;
    border: none;
    width: 30%;
    height: 100%;
    padding: 1%;
    border-radius: 10px;
    background-color: #EEE;
    border: transparent;
    box-shadow: 0px 0px 2px #000444;
}

.create-comment form .your-rate {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.create-comment form .rate .rate-lable {
    color: #FFF;
    font-size: 1.5rem;
}

.review-box {
    width: 85%;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-comment textarea {
    width: 90%;
    margin-top: 2%;
    padding: 20px;
    background-color: #EEE;
    border-radius: 10px;
    outline: none;
    border: transparent;
    box-shadow: 0px 0px 2px #000444;
    height: 140px;
    resize: none;
}

.create-comment textarea:focus,
.create-comment input:focus {
    box-shadow: 0px 0px 4px #000cb1;
}

.letters-counter {
    position: absolute;
    bottom: 12%;
    right: 12%;
    color: #000;
    font-weight: 500;
}

.create-comment .send {
    background-color: #EEE;
    outline: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: transparent;
    outline: none;
}

.create-comment .send .add-icon {
    color: #000444;
}

/* light mode */

.create-comment.light > h2 {
    color: #000444;
}

.create-comment.light input {
    background-color: transparent;
}

.create-comment.light form .rate .rate-lable {
    color: #000444;
}

.create-comment.light textarea {
    background-color: transparent;
}

.create-comment.light .send {
    background-color: #0C2233;
}

.create-comment.light .send .add-icon {
    color: #FFF;
}

@media (max-width: 767px) {  /* phone screen */
    
    .create-comment {
        margin-top: 15%;
    }

    .create-comment form .rate {
        flex-direction: column;
        align-items: flex-start;
    }

    .create-comment form input {
        width: 100%;
        margin-bottom: 15px;
    }

    .create-comment form .your-rate {
        width: 70%;
    }

    .review-box {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .create-comment textarea {
        width: 100%;
        margin-top: 5%;
    }

    .letters-counter {
        bottom: 32%;
        right: 5%;
    }

    .create-comment .send {
        margin-top: 5%;
        border-radius: 5px;
        padding: 10px;
        width: 25%;
    }   
}

@media (max-width: 1200px) {
    .create-comment form .rate {
        width: 100%;
    }
 }