.MailContent{
    background-color: #061724;
    border-top: 5px solid #17A2B8;
    padding: 2%;
}

.MailContent.light{
    background-color: #DDE4E7;
}

.MailContent form{
    float: left;
    width: 65%;
}

.MailContent input{
    width: 30%;
    margin: 1% .5%;
    padding: 1%;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #F4F5F7;
}

.MailContent textarea{
    width: 92%;
    padding: 1%;
    border-radius: 5px;
    margin: 1% .5%;
    outline: none;
    border: none;
    background-color: #F4F5F7;
    height: 170px;
    resize: none;
}
.MailContent .button{
    display: block;
    width: 40%;
    margin: 2% auto;
    background-color: #0069D9;
    color: white;
    border: 1px solid #0069D9;
    border-radius: 5px;
    font-weight: 600;
}
.MailContent .button:hover{
    background-color: #F4F5F7;
    color: #0069D9;
    border: 1px solid #0069D9;
}
.MailContent img{
    float: right;
    margin: 2% 0;
    width: 25%;
}
@media (max-width: 767px){ /* small screen */
    
    .MailContent form{
        margin-top: 20px;
        float: none;
        width: 100%;
    }
    
    .MailContent input{
        width: 32.3%;
    }

    .MailContent textarea{
        width: 99%;
        padding: 1%;
        height: 200px;
    }

    .MailContent img{
        display: none;
    }

}