.BookPage .Header{
    padding: 10%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.BookPage .Header .container > h2,
.BookPage .Header p{
    background-color: rgba(0, 0, 0, 0.555);
    color: #EEE;
    padding: .7%;
    width: 57%;
    margin: 0;
}
.BookPage .Header .container > h2{
    font-weight: 700;
    border-bottom: 1.5px solid #000;
}
.BookPage .Header p{
    width: 67%;
    font-size: 24px;
}

.BookPage .content{
    margin: 3% auto 0;
    padding: 1%;
}

.BookPage .content .section{
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    text-align: left; 
    border-bottom: 1px solid rgb(3, 195, 253); 
    line-height: 0.1em;
    margin: 30px 0 20px; 
}

.BookPage .content .section span{
    background:#2F3236;
    margin-left: 30px;
    padding:0 10px; 
    color: #FFF;
}

.BookPage .content .section span:hover{
    color: #17A2B8;
}

.link:hover{
    text-decoration: none;
}

@media (max-width: 767px){  /* phone screen */
    
    .BookPage .Header .container > h2,
    .BookPage .Header p{
        width: 100%;
        margin: 1%;
        font-size: 19px;
    }
    .BookPage .Header p{
        width: 90%;
    }
}

@media (min-width: 768px) and (max-width: 991px){ /* small screen */

    .BookPage .Header .container > h2,
    .BookPage .Header p{
        width: 100%;
        margin: 1%;
    }
    .BookPage .Header p{
        width: 80%;
    }
}