.books-home .side-titles {
    color: #17A2B8;
    margin-left: -5px;
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
}

.books-home.light .side-titles {
    color: #061724;
}

.swipper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0 20px 0;
}


@media (max-width: 700px) {
   
    .swipper {
        justify-content: center;
        align-items: center;
    }
}
