.author-content{
    padding: 70px 0;
}

.author-content .img-box{
    float: left;
    width: 30%;
}

.author-content .img-box img{
    width: 100%;
    object-fit: cover;
}


.author-content .author-info{
    color: #FFF;
    float: left;
    width: 50%;
    margin-left: 5%;
}

.author-content .author-info h2{
    margin: 2% -2.5% 4%;
}

.author-content .author-info p{
    line-height: 1.7;
}

.author-content .author-info span{
    display: block;
    margin: 1% 0;
}

.author-content .author-info .link{
    color: #990c4b;
    font-weight: 700;
    font-size: 22px;
}

.author-content .author-info .link:hover{
    transition: .3s;
    color: #ff0676;
    text-decoration: none;
}

.author-content > hr{
    height: 3px;
    border-radius: 5px;
    width: 50%;
    margin-top: 5%;
    background-color: #DDD;
}

.author-content > hr.light{
    background-color: #061724;
}

.author-content .author-books{
    margin-top: 5%;
    color: #EEE;
}

.author-books h3 span{
    color:#0dbdd8;
}
.author-books.light,
.author-content .author-info.light{
    color:#061724;
}