.author-content{
    padding: 70px 0;
    display: grid;
    grid-template-columns: 10% 90%;
}

.author-content .img-box{
    width: 80px;
    height: 80px;    
    grid-column: 1/2;
}

.author-content .img-box img{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.author-content .author-info{
    color: #FFF;
}

.author-content .author-info h2{
    margin: 0 0 2%;
}

.author-content .author-info p{
    color: #c5c5c5;
    line-height: 1.7;
}

.author-content .author-info span{
    display: block;
    margin: 1% 0;
}

.author-content .author-info .link{
    color: #990c4b;
    font-weight: 700;
    font-size: 22px;
}

.author-content .author-info .link:hover{
    transition: .3s;
    color: #ff0676;
    text-decoration: none;
}

.author-content > hr{
    height: 3px;
    border-radius: 5px;
    width: 50%;
    margin-top: 5%;
    background-color: #DDD;
}

.author-content > hr.light{
    background-color: #061724;
}

.author-books{
    margin-top: 3%;
}

.side-title {
    font-size: 22px;
    color: #EEE;
}

.author-books h3 span{
    color:#0dbdd8;
}

.books-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
}

/* light mode */

.light .author-content .author-info,
.light .author-books,
.light .side-title {
    color: #061724;
}

.light .author-content p {
    color: #000000;
}

@media (max-width: 700px) {

    .author-content {
        padding: 70px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .author-content .author-info {
        margin-top: 25px;
        text-align: center;
    }

    .author-content .author-info p {
        text-align: left;
    }
   
    .books-list {
        justify-content: center;
        align-items: center;
    }
}
