.AuthorCard{
    margin: 2% 1%;
    background-color: transparent;
    width: 20%;
    text-align: center;
    color: #000;
    padding-bottom: 2%;
    box-shadow: 1px 1px 2px #EEE;
    color: #EEE;
}

.AuthorCard .cardHeader{
    background-image: url("https://images.unsplash.com/photo-1463320726281-696a485928c7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    height: 100px;
}

.AuthorCard img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 30%;
    background-color: #EEE;
    padding: 2%;
    transition: all .4s ease-in-out;
}

.AuthorCard img:hover{
    transform: scale(1.05);
}

.AuthorCard h4{
    padding: 1.7%;
    margin-top: 30%;
}

.AuthorCard p{
    line-height: 1.6;
}

.AuthorCard span{
    color: #646464;
    font-weight: 600;
}

.AuthorCard .link{
    color: #EEE;
    text-decoration: none;
}

.AuthorCard .getMore{
    display: block;
    margin: 5% auto 0;
    color: #FFF;
    outline: none;
    border: 1px solid #66A29D;
    background-color: #66A29D;
    padding: 2% 3%;
    font-size: large;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.AuthorCard .getMore:hover{
    background-color: transparent;
    color: #66A29D;
    transform: translateY(-5px);
}

/* light mode */

.AuthorCard.light {
    box-shadow: 1px 1px 2px #0C2233;
    color: #0C2233;
}

@media (max-width: 767px){  /* phone screen */
    .AuthorCard{
        width: 46%;
        margin: 6% 2% 6% 0;
    }

    .AuthorCard p{
        padding: 8px;
    }
}