.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 100;
    background-color: #0C2233;
    display: flex;
    align-items: center;
}

.navbar-toggler {
    display: none;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 35px;
    color: #EEE;
    font-weight: 700;
    margin-right: 15px;
}

.navbar-content ul {
    display: flex;
    align-items: center;
}

.navbar-content ul li {
    display: inline;
}

.navbar .navbar-content .nav-link {
    color: rgba(255,255,255,.5);
    padding : .5rem;
    padding-right: .5rem;
    padding-left: .5rem;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
}

.navbar .navbar-content .nav-link:hover {
    text-decoration: none;
    color: aliceblue;
}

.search-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-area .nav-icon {
    color: #EEE;
    cursor: pointer;
    margin-right: 20px;
}

.search-area .nav-icon:hover {
    transition: all .4s ease-in-out;
    animation: swing 1s linear infinite;
}

.search-area .form-inline input {
    outline: none;
    border: transparent;
    padding: 0 8px;
    height: 35px;
    border-radius: 5px;
    margin-right: 5px;
}

.search-area .search-btn {
    outline: none;
    height: 33px;
    border: 2px solid #17A2B8;
    border-radius: 5px;
    font-weight: 700;
    color: #17A2B8;
    background: transparent;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* light mode */
.navbar.light {
    background-color: #FFF;
    box-shadow: 0px 0px 1px #0C2233;
}

.navbar.light .navbar-toggler {
    color: #0C2233;
}

.navbar.light .navbar-brand {
    color: #0C2233;
}

.navbar.light .navbar-content .nav-link {
    color: #0C2233;
}

.navbar.light .navbar-content .nav-link:hover {
    color: #08004e;
}

.navbar.light .search-area .nav-icon {
    color: #0C2233;
}

.navbar.light .search-area input {
    background-color: #0c223328;
}

.navbar.light .search-area .search-btn {
    border: 2px solid #0C2233;
    color: #0C2233;
    transition: .5s;
}

.navbar.light .search-area .search-btn:hover {
    color: #FFF;
    background-color: #0C2233;
}

@media (max-width: 1020px) {

    .navbar {
        padding-bottom: 50px;
        height: auto;
    }

    .navbar-toggler {
        position: fixed;
        margin: 5px 0 0;
        left: 85%;
        display: inline-flex;
        background-color: transparent;
        outline: none;
        border: none;
        color: #FFF;
    }

    .navbar-toggler .MuiSvgIcon-root {
        font-size: 2.5rem;
    }

    .navbar-content.hide {
        margin-top: -200%;
        transition: 1.5s;
    }

    .navbar-content,
    .navbar-content ul,
    .search-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-content {
        margin: 0;
        transition: .5s;
    }

    .navbar-content ul {
        justify-content: space-around;
        height: 250px;
    }
    
    .navbar-content ul,
    .navbar-content ul li  {
        padding: 0;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .search-area .nav-icon {
        margin: 15px 7px;
    }

}