.about{
    background-color: #EEE;
}

.about p{
    color:#444;
    line-height: 1.7;
}

.AboutHeader{
    background-color: #000;
    width: 100%;
    height: 250px;
}

.AboutHeader h3{
    color: #EEE;
    padding: 5%;
    width: 50%;
}

.about .ourMessage .card{
    text-align: center;
    float: left;
    margin: 5%;
    width: 35%;
    padding: 2%;
}
.about .ourMessage .card img{
    width: 100px;
    height: 100px;
    margin: 7% auto;
    border-radius: 50%;
}

.about .ourMessage .card h2{
    text-align: left;
}
.about .ourMessage .blogCard{
    background-color: #EEE;
    border: none;
}
.about .ourMessage .blogCard .blogButton{
    background-color: #054651;
    color: #EEE;
    border: 1px solid #EEE;
    padding: 1.5%;
    margin-top: 2%;
    width: 25%;
}
.about .ourMessage .blogCard .blogButton:hover{
    background-color: #EEE;
    color: #054651;
    border: 1px solid #054651;
}