.about p{
    color:#444;
    line-height: 1.7;
}

.about .AboutHeader{
    background-color: #17A2B8;
    width: 100%;
    height: 180px;
}

.about .AboutHeader h3{
    color: #EEE;
    padding: 5%;
    width: 50%;
}

.about .ourMessage .card{
    text-align: center;
    float: left;
    margin: 5%;
    width: 35%;
    padding: 2%;
}
.about .ourMessage .card img{
    width: 100px;
    height: 100px;
    margin: 7% auto;
    border-radius: 50%;
}
.about .ourMessage .card h4{
    color: #563D7C;
}
.about .ourMessage .blogCard{
    margin-top: 12%;
    background-color: #EEE;
    border: none;
}

.about .ourMessage .blogCard h2{
    text-align: left;
    color: #563D7C;
    margin: 5%;
    width: 100%;
}
.about .ourMessage .blogCard .blogButton{
    background-color: #563D7C;
    color: #EEE;
    border: 1px solid #EEE;
    padding: 1.5%;
    margin-top: 2%;
    width: 35%;
    border-radius: 5px;
    outline: none;
}
.about .ourMessage .blogCard .blogButton:hover{
    background-color: #EEE;
    color: #563D7C;
    border: 1px solid #563D7C;
}

@media (max-width: 767px){  /* phone screen */

    .about .AboutHeader h3{
        width: 70%;
    }
    
    .about .ourMessage .card{
        width: 90%;
    }
    .about .ourMessage .blogCard {
        margin-top: 1%;
    }
    .about .ourMessage .blogCard h2{
        margin-top: -2%;
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991px){ /* small screen */
    .about .AboutHeader h3{
        width: 70%;
    }
    
    .about .ourMessage .card{
        width: 90%;
    }
    .about .ourMessage .blogCard {
        margin-top: 1%;
    }
    .about .ourMessage .blogCard h2{
        margin-top: -2%;
        width: 80%;
    }
}