.AuthorCard{
    margin: 2% auto;
    background-color: #FFF;
    width: 30%;
    text-align: center;
    color: #000;
    padding-bottom: 2%;
}

.AuthorCard .cardHeader{
    background-image: url("https://images.unsplash.com/photo-1463320726281-696a485928c7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    height: 200px;
}

.AuthorCard img{
    padding: 5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    top: 80px;
    background-color: #EEE;
    padding: 2%;
    transition: all .4s ease-in-out;
}

.AuthorCard img:hover{
    transform: scale(1.05);
}

.AuthorCard h4{
    padding: 1.7%;
    margin-top: 30%;
}

.AuthorCard p{
    line-height: 1.6;
}

.AuthorCard span{
    color: #000444;
    font-weight: 600;
}

.AuthorCard .link{
    color: #EEE;
    text-decoration: none;
}

.AuthorCard .getMore{
    display: block;
    margin: 3% auto 0;
    color: #FFF;
    outline: none;
    border: 1px solid #66A29D;
    background-color: #66A29D;
        padding: 2% 3%;
    font-size: large;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.AuthorCard .getMore:hover{
    background-color: #FFF;
    color: #66A29D;
    transform: translateY(-5px);
}

@media (max-width: 767px){  /* phone screen */
    .AuthorCard{
        width: 100%;
        margin: 6% 0;
    }
}

@media (min-width: 768px) and (max-width: 991px){ /* small screen */

    .AuthorCard{
        width: 46%;
    }
}