.BookCard{
    background: none;
    border: none;
    display: inline-flex;
}
.imgHoveresDiv,
.imgDiv{
    width: 185px;
    height: 270px;
    margin: 1%;
    -webkit-transform: scale(.8);
            transform: scale(.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: center;
}

.imgDiv img{
    width: 100%;
    height: 100%;
}

.hover{
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    text-align: center;
    background: #EEE;
    width: 390px;
    height: 300px;
    margin: 3% 1% 1%;
    padding: 0;
}

.hover .hoverImg{
    float: left;
    width: 50%;
}

.hover h4,
.hover span{
    margin-top: 4%;
    color: #444;
}

.hover button{
    margin: 5%;
}