.AuthorPage{
    padding: 6% 0;
    display: flex;
    flex-wrap: wrap;
}

.AuthorPage .skeleton{
    background-color: #777;
    margin: 2% auto;
}

@media (max-width: 500px){  /* phone screen */

    .AuthorPage{
        display: block;
    }

}