.footer{
    background-color: #021d3a;
}

.footer .firstPartation{
    float: left;
    width: 50%;
}
.footer .firstPartation > h1{
    color: #EEE;
    display: inline-block;
    margin: 4% 0;
    width: 100%;
    text-transform: uppercase;
}
.footer .firstPartation > h1 > span{
    color: rgb(5, 143, 143);
}
.footer .firstPartation > h1 .BookIcon{
    margin-right: 4%;
}

.footer .firstPartation > p{
    width: 85%;
    color: #969696;
    margin-left: 4%;
    line-height: 1.7;
}

.footer .firstPartation .fa{
    font-size: 40px;
    margin: 2.5%;
    color: rgb(5, 143, 143);
}

.footer .firstPartation .fa:hover{
    text-decoration: none;
    color: rgb(11, 133, 116, .4);
}

.footer .MostPopular,
.footer .AddressPartation{
    width: 25%;
    float: left;
}

.footer .MostPopular > span,
.footer .AddressPartation > span{
    display: block;
    color: #969696;
    margin-left: 10%;
}

.footer h3{
    color: #EEE;
    margin: 15% 8% 11%;
    font-size: 20px;
}

.footer .footerParagraph{
    color: #FFF;
    text-align: center;
    margin: 2%;
}

@media (max-width: 991px){ /* small screen */
    
    .footer .firstPartation{
        float: none;
        width: 100%;
    }
    .footer .firstPartation > h1{
        margin: 4% 0;
        width: 100%;
        font-size: 30px;
    }

    .footer .firstPartation > p{
        width: 95%;
        line-height: 1.5;
    }

    .footer .firstPartation .fa{
        font-size: 30px;
    }

    .footer .MostPopular,
    .footer .AddressPartation{
        width: 100%;
    }

    .footer h3{
        margin: 7% 0 2%;
    }
    
    .footer .footerParagraph{
        margin: 4%;
    }
}