.search-result {
    color: #EEE;
    margin: 24px 0;
}

.search-result h3 {
    line-height: 1.3;
    font-size: 2.2rem;
    font-weight: 600;
}

.side-title {
    margin: 15px 0 0 5px;
}

.side-title .link {
    color: aqua;
}

.side-title .link:hover {
    color: rgb(5, 143, 143);
}

.genres {
    margin-top: 50px;
}

.header{
    margin-top: 2%;
}

.results-number {
    font-size: 14px;
    font-weight: 400;
    color: rgb(112, 112, 112);
}

/* light mode */

.search-result.light {
    color: #000;
}

