.header{
    color: #EEE;
    margin: 2% 0 4%;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
}

.searchImg{
    width: 40%;
    margin-left: calc(30%);
}

.alert{
    justify-self: center;
    margin: 5% auto;
    width: 80%;
    color: #EEE;
    font-size: 44px;
    font-family: 'Times New Roman', Times, serif;
}

.alert.light,
.header.light{
    color: #061724;
}