.Genre{
    padding: 3%;
}

.Genre .header{
    color: #990c4b;
}

.Genre .GenrsDesc{
    width: 80%;
    padding: 0 0 2%;
    line-height: 1.7;
    color: #EEE;
    font-weight: 300;
    font-size: 19px;
}

.Genre .GenrsDesc.light{
    color: #111;
}

.Genre .GenreDetails{
    display: flex;
    flex-direction: row;
}

.Genre .SortBy{
    margin: 1% 5% 2% 3%;
    padding-right: 2.5%;
    font-size: 20px;
    width: 16%;
    color: #EEE;
    font-weight: 500;
    border-right: 1px solid #EEE;
}

.Genre .SortBy.light{
    color: #000444;
    border-color: #000444;
}

.Genre .SortBy button{
    background: none;
    border: none;
    outline: none;
    margin: 3%;
    padding: 1%;
    font-weight: 600;
    display: block;
    color: rgb(204, 54, 54);
}

.Genre .SortBy button:hover{
    color: rgb(150, 37, 37);
}

.Genre .GenreDetails .BookCards{
    margin: 0;
    padding: 0;
    display: inline-table;
}

.Genre .PaginationDiv{
    color: brown;
    outline: none;
    margin: 4% 33% 0;
    align-content: center;
}

@media (max-width: 767px){  /* phone screen */
    
    .Genre{
        padding: 5% 0;
    }

    .Genre .GenreDetails{
        display: inline-block;
    }

    .Genre .SortBy{
        width: 100%;
        border: none;
        margin-top: 1%;
    }

    .Genre .SortBy button{
        display: inline;
    }

    .Genre .GenreDetails .GenrsDesc{
        width: 100%;
    }

    .Genre .GenreDetails .BookCards{
        text-align: center;
    }
}