.section {
    font-size: 22px;
    font-weight: 600;
    width: 100%;
    text-align: left; 
    border-bottom: 1px solid rgb(3, 195, 253); 
    line-height: 0.1em;
}

.section span {
    background:#061724;
    margin-left: 30px;
    padding:0 10px; 
    color: #990c4b;
}

.section span.light {
    background: #DDE4E7;
    color: #990c4b;
}

.section span:hover {
    color: #ff0676;
}

.link:hover {
    text-decoration: none;
}

.books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3% 0 0 5%;
}