.Clear{
    clear: both;
}
.skeletons{
    margin: 5% 0;
}

.skeletons .skeleton-rect{
    float: left;
    background-color: #777;
}

.skeletons .skeleton-text{
    float: right;
    margin-top: 3%;
    width: calc(100% - 320px);
    background-color: #777;
}

.skeleton{
    background-color: #777;
}