@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,900&display=swap');

*{
    font-family: "Source Sans Pro", serif;
    margin: 0;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.App{
    background-color: #061724;
    transition: .3s;
}

.App.light{
    background-color: #DDE4E7;
    transition: .3s;
}

.light{
    color: #061724;
}

.MuiRating-root > label {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.books-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
}

.nav-buttons {
    display: flex;
    justify-content: space-evenly;
}

.nav-btn {
    outline: none;
    border: transparent;
    text-decoration: none;
    background-color: #17A288;
    border-radius: 5px;
    color: #FFF;
    padding: 7px 20px;
    position: relative;
    transition: 0.5s;
}

.nav-btn:focus {
    outline: none;
}

.nav-btn:after {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.next:after {
    content: '»';
    right: -20px;
}

.next:hover {
    background-color: #1f7061;
    padding-right: 27px;
    padding-left:13px;
}

.next:hover:after {
    opacity: 1;
    right: 10px;
}

.previous:after {
    content: '«';
    left: -20px;
}

.previous:hover{
    background-color: #1f7061;
    padding-right: 13px;
    padding-left: 27px;
}

.previous:hover:after {
    opacity: 1;
    left: 10px;
}

.nav-btn[disabled] {
    background-color: #1f7061;
}

.nav-btn[disabled]:hover {
    padding: 7px 20px;
}

.nav-btn[disabled]:hover:after{
    opacity: 0;
}

.Clear{
    clear: both;
}

@media (max-width: 768px) {
    .container {
      max-width: 750px;
    }
        
    .books-list {
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}