.Clear{
    clear: both;
}

.skeletons{
    margin: 5% 0;
}

.skeletons .skeleton-rect{
    float: left;
    background-color: #777;
}

.skeletons .skeleton-text{
    float: right;
    margin-top: 3%;
    width: calc(100% - 320px);
    background-color: #777;
}

.skeleton{
    background-color: #777;
}

.App{
    background-color: #061724;
    transition: .3s;
}

.App.light{
    background-color: #DDE4E7;
    transition: .3s;
}

.light{
    color: #061724;
}