@import url(https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css);

.NavLinks {
    color: rgba(255,255,255,.5);
    padding : .5rem;
    padding-right: .5rem;
    padding-left: .5rem;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
} 
.NavLinks:hover {
    text-decoration: none;
    color: aliceblue;
}