.footer {
    background-color: #021d3a;
    padding: 3% 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer .information {
    width: 40%;
}

.footer .information > h1 {
    color: #EEE;
    display: flex;
    text-transform: uppercase;
}

.footer .information > h1 > span:first-of-type {
    margin-right: 2%;
}

.footer .information > h1 > span {
    color: rgb(5, 143, 143);
}

.footer .information > p {
    width: 85%;
    color: #969696;
    margin-left: 4%;
    line-height: 1.7;
}

.footer .social a {
    color: rgb(5, 143, 143);
}

.footer .social a:hover {
    color: rgb(11, 133, 116, .4);
}

.footer .social,
.footer .address-partation {
    width: 20%;
}

.footer .address-partation > span {
    display: block;
    color: #969696;
}

.footer h3 {
    color: #EEE;
    font-size: 20px;
    margin-bottom: 10%;
}

.footer .rights-partation {
    color: #FFF;
    text-align: center;
    padding: 2%;
}

@media (max-width: 991px) { /* small screen */
    
    .footer .container {
        flex-direction: column;
    }

    .footer .information {
        width: 100%;
    }

    .footer h3 {
        margin: 4% 0 2%;
    }

    .footer .social,
    .footer .address-partation {
        width: 100%;
    }
}